@font-face {
    font-family: 'gotham_proregular';
    src: url('gotham_pro_regular-webfont.woff2') format('woff2'),
         url('gotham_pro_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}