@font-face {
    font-family: 'Gotham Pro';
    src: url(fonts/GothamPro.woff2) format('woff2'),
         url(fonts/GothamPro.woff) format('woff');
    font-weight: 400;
    font-style: normal;
  }


@font-face {
    font-family: 'Gotham Pro bold';
    src: url(fonts/gotham_pro_bold-webfont.woff2) format('woff2'),
         url(fonts/gotham_pro_bold-webfont.woff) format('woff');
    font-weight: bold;
    font-style: normal;
}