body {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    font-family: "Gotham Pro";
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}


.wrapper {
    margin: auto;
    max-width: 1170px;
    width: 100%;
    overflow: hidden;

}



#checkbox-menu {
  display: none;
}

.checkbox {
    position: absolute;
    left: 0;
    top: 0;
}

.header {
    margin: 0 auto;
    max-width: 1170px;
    height: 96px;
    justify-content: space-between;

}

.menu-container {
    display: flex;
    height: 55px;
    max-width: 1170px;
    text-align: center;
    padding-top: 31px;
    padding-left: 69px;
}

.menu   {
    display: flex;
    padding-left: 16px;
    max-width: 1200px;

}


li {
    display: inline-block;
    text-align: center;
    list-style-type: none;
    margin-left: 31px;
    font-family: "Gotham Pro bold";
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.3px;
}

li:not(:last-child){
    padding-left: 2px;
}

.menu__item {
    font-color: #000;
    text-decoration: none;
    font-size: 12px;
    font-weight: 900;
    color: #000
}




.search input {
    width: 154px;
    height: 18px;
    padding: 3px 12px;
    margin-right:15px
    font-size: 1.3rem;
    outline: none;
    border: none;
    border-bottom: 1px solid #000;
    background-image: url(images/search.png);
    background-repeat: no-repeat;
    background-position: right;
}

.search {
    margin-left: 190px;
}

.container {
    background-image: url(images/search.png);
    background-position: 5px 5px;
}


.menu__item_flag {
    padding-left: 7px;
}

.cart {
    position: relative;
    top: 5px;
    left: 2px;
}

.main {
    display: flex;
    justify-content: center;
    max-width: 1030px;
}

.wrapper-top-picture {
    margin: auto;
    max-width: 1030px;
    max-height: 280px;
    width: 100%;
    position: relative;
    margin-left: 70px;
    color: #fff;
    display: flex;
    top: 20px;
    
}

.top-image {
    width: 1030px;
    height: 280px;
    background: no-repeat 100% 100% url('images/top picture.jpg'); 
}
.top-picture-text {
    display: flex;
    flex-direction: column;
    color: #fff;
    position: absolute;
    left: 59px;
    bottom: 61px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
}

.top-picture-text h1 {
    font-size: 28px;
    text-transform: uppercase;
    line-height: 30px;
    margin-bottom: 6px;
    width: 37%;
}

.top-picture-text > p {
    font-size: 10px;
    line-height: 18px;
    font-weight: 900;
    width: 88%;
}


.featured-product > h1 {
    text-transform: uppercase;
    font-size:22px;
    font-weight: bold;
    text-align: center;
    padding-top: 53px;
    font-family: "Gotham Pro bold";
}

.products {
    display: grid;
    grid-template-columns: 230px 1fr 1fr 1fr 1fr;
    grid-gap: 37px;
    margin-left: 81px;
}

.product-container {
    font-size: 12px;
    padding-top: 13px;
    width: 194px;
    line-height: 8px;
    margin-right: 0;
}

#product3 {
    padding-left: 30px;
}

#product3-price {
    padding-left: 31px;
}

.product1 > img {
    padding-left: 10px;
}

.product2 > img {
    padding-left: 10px;
}

.product3 > img {
    padding-left: 42px;
}

.product4 > img {
    padding-left: 42px;
}

#product4 {
    padding-left: 29px;
}

#product4-price {
    padding-left: 34px;
}

.price-color {
    font-size: 14px;
    font-weight: 600;
    display: inline-flex;
    justify-content: space-between;
    column-gap: 10px;
}

.price, .color-pick {
    display: inline-block;
}


.color-pick {
    cursor: pointer;
    display: inline-flex;
    width: 56px;
    justify-content: space-between;
    padding-left: 92px;
    padding-top: 3px;
}

.price {
    padding right: 15px;
}

#color-pick__grey {
    background-color: #C4C4C4;
    width: 7px;
    height: 7px;
    border-radius: 50%;
}

#color-pick__black {
    background-color: #0E1211;
    width: 7px;
    height: 7px;
    border-radius: 50%;
}

#color-pick__red {
    background-color: #B62E3C;
    width: 7px;
    height: 7px;
    border-radius: 50%;
}

#color-pick__yellow {
    background-color: #FDB431;
    width: 7px;
    height: 7px;
    border-radius: 50%;
}

#color-pick__orange {
    background-color: #E29D69;
    width: 7px;
    height: 7px;
    border-radius: 50%;
}

#color-pick__dark-red {
    background-color: #762E31;
    width: 7px;
    height: 7px;
    border-radius: 50%;
}

#color-pick__blue {
    background-color: #41479B;
    width: 7px;
    height: 7px;
    border-radius: 50%;
}

#color-pick__light-blue {
    background-color: #257DA9;
    width: 7px;
    height: 7px;
    border-radius: 50%;
}

.wrapper-info {
    margin: auto;
    max-width: 1030px;
    max-height: 494px;
    width: 100%;
    position: relative;
    margin-left: 70px;
    background: #000;
    color: #fff;
    display: flex;
    padding-bottom: 10px;
}

.info-image {
  min-width: 645px;
  height: 369px;
  background: no-repeat 100% 100% url('images/info image.jpg');
  margin: 5.6% 3%;
}

.info {
    margin-top: 51px;
}

.info-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 125px 6px 0 11px;
}

.info-text h1 {
  font-size: 21px;
  text-transform: uppercase;
  line-height: 28px;
  letter-spacing: 0.7px;
  padding-top: 10px;
  margin-bottom: 11px;
  width: 89%;
}

.info-text > p {
  font-size: 14px;
  line-height: 18px;
  font-weight: 900;
  margin-block-start: 0;
  width: 88%;
  padding-top: 2px
}

.info-text > p:last-child {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 900;
    width: 100%;
}

.arrow {
  margin-left: 5px;
}
 
.recent-stories > h1 {
    display: block;
    text-transform: uppercase;
    font-size: 22px;
    text-align: center;
    padding-top: 59px;
    font-weight: 900;
    font-family: "Gotham Pro bold";
}

.story1-image {
    height: 147px;
    background: no-repeat 100% 100% url('images/story1.jpg');
    padding-top: 5px;
}

.story2-image {
    height: 147px;
    background: no-repeat 100% 100% url('images/story2.jpg');
    padding-top: 5px;
}

.story3-image {
    height: 147px;
    background: no-repeat 100% 100% url('images/story3.jpg');
    padding-top: 5px;
}

.stories {
    display: grid;
    grid-template-columns: 307px 1fr 1fr;
    grid-gap: 55px;
    margin: 0 70px;
    padding-top: 18px;

}

 h2 {
    font-size: 14px;
    padding-top: 16px;
    margin-bottom: 0;
    letter-spacing: 0.8px;
}


.story-container > p  {
    margin-top: 9px;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 6px;
    width: 305px;
}

.learn-more {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12.2px;
    color: #000;
    display: flex;
    width: 307px;
    left: 12px;
    height: 20px;
    //background: no-repeat 100% 100% url(images/Arrow black.png);
    //line-height: 16px;
}

.learn-more p {
    margin-top: 7px;
}

.date {
    display: inline-flex;
    font-size: 12px;
    opacity: 0.3;
    padding-left: 116px;
}

.gallery {
    padding-top: 78px;
}

.hashtag {
    display: flex;
    justify-content: flex-end;
    font-size: 18px;
    padding-right: 71px;
    text-transform: uppercase;
    opacity: 0.3;
}

.images {
    display: grid;
    grid-template-columns: 147px 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    margin-left: 70px;
    margin-top: 8px;
    margin-bottom: 80px;
}

.wrapper-footer {
    max-width: 1170px;
    background: #000;
}

.footer {
    max-width: 1170px;
    min-height: max-content;
    margin-top: auto;
    width: 68.8%;
    color: #fff;
    display: flex;
    margin-left: 17%;
}


.footer-links {
    width: 100%;
    display: flex;
    flex-direction: column;

}

.footer-links > a {
    color: #fff;
    text-decoration: none;
    font-size: 12px;
    list-style: column;
    display: inline-block;

}


.footer-links > p:first-child {
    margin-top: 66px;
    font-size: 12px;
    letter-spacing: 0.1px;
}

a {
    line-height: 17px;
}

.footer__newsletter {
    margin-bottom: 4px;
}


.button {
    width: 136px;
    height: 30px;
    font-size: 10px;
    color: #fff;
    padding-top: 4px;
    background: #000;
    border: 1.5px solid #fff;
    margin-top: 11px;
}



.social-media {
    display: flex;
    column-gap: 25px;
    padding-top: 34px;
    padding-left: 0px;
    margin-bottom: 39px;
}

.copyright {
    display: flex;
    justify-content: center;
    max-width: 1170px;
    font-size: 12px;
    padding-top: 2px;
    color: #fff;
    margin-bottom: 0;
}


@media  (max-width: 1024px) {

.wrapper {
    margin: auto;
    max-width: 1024px;
    width: 100%;
}

.menu-container {
    max-width: 1024px;
    padding-left: 50px;
}

.menu {
    max-width: 1024px;
    padding-left: 0;
}

.search {
    margin-left: 143px;
}

.search input {
    width: 134px;
}

.cart {
    position: relative;
    top: 4px;
    right: 8px;
}

.menu__item_flag {
    padding-left: 0px;

}

li {
    margin-left: 30px;
}

li:not(:last-child) {
    padding-right: 0px;
}


.main {
    max-width: 1024px;
}

.moto > img {
    width: 930px;
    padding-top: 15px;
}

.moto p {
    left: 56px;
}

.top-picture {
    top: 18px;
    left: 47px;
}

.top-image {
    width: 930px;
    height: 253px;
}

.moto >p3 {
    left: 53px;
    top: 187px;
}

.featured-product>h1 {

    padding-top: 59px;
}


.product1 > img {
    padding-left: 33px;
    width: 106%;
    height: auto;
    padding-top: 5px;
}

.product2 > img {
    padding-left: 45px;
    width: 89%;
    height: auto;
    padding-top: 5px;
}

.product3 > img {
    padding-left: 21px;
    width: 89%;
    height: auto;
    padding-top: 5px;
}

.product4 > img {
    padding-left: 0px;
    width: 89%;
    height: auto;
    padding-top: 5px;
}

.products {
    grid-template-columns: 163px 1fr 1fr 1fr 1fr;
    grid-gap: 68px;
    margin-left: 33px;
    width: 90%;
    height: auto;
}

.product-container {
    //padding-left: 26px;
    padding-top: 22px;
}

#product1 {
    padding-left: 23px;
}

#product2 {
    padding-left: 34px;
}

#product3 {
    padding-left: 13px;
}

#product4 {
    padding-left: 0;
}

.info {
    margin-top: 75px;

}

@media  (max-width: 768px) {

}

@media  (max-width: 375px) {

}

@media  (max-width: 320px) {

}
