body {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	font-family: "Gotham Pro";
}


.wrapper {
	margin: auto;
	max-width: 1030px;
	width: 100%;
}


.header {
	margin: 0 auto;
	max-width: 1170px;
	height: 96px;
    justify-content: space-between;
    border: dashed 1px red;
}


.checkbox {
	position: absolute;
	left: 0;
	top: 0;
}
.menu-container {
	display: flex;
	height: 55px;
	max-width: 1170px;
	text-align: center;
	padding-top: 29px;
	padding-right: 0;

}

.menu	{
	display: flex;
	padding-left: 0;
	margin-right: 0;

}

  li {
  	display: block;
  	border: dotted 1px red;
  	text-align: center;
  	list-style-type: none;
  	margin-left: 30px;
  	font-weight: bold;
  	text-transform: uppercase;
  	letter-spacing: 0.3px;
  	
  	}

.menu__item {
	text-decoration: none;
	font-color: #000;
	font-size: 12px;
}


.search input {
	width: 154px;
	height: 18px;
	padding: 4px 12px;
	margin-right:15px 
	font-size: 1.3rem;
	outline: none;
	border: none;
	border-bottom: 1px solid #000;
	background-image: url(images/search.png);
	background-repeat: no-repeat;
	background-position: right;
}

.search {
	margin-left: 188px;
}

.container {
	background-image: url(images/search.png);
	background-position: 5px 5px;
}

.menu-item:last-child {
    padding-right: 0;
    margin-right: 0;
  }  

  /*.product-container > p {
  	display: inline-block;
  }
 */
/*.checkbox-menu {
	width: 900px;
}*/

/*.last-menu-items {
    width: 228px;
    list-style-type: none;
    display: inline-block;
    display: flex;
}*/

/**/

/*.last-menu-items li {
  	display: block;
  	text-align: center;
  	list-style-type: none;
  	text-align: center;
}*/

.main {
	display: flex;
	justify-content: center;
}

.top-picture {
	position: relative;
	top: 16px;
}

.moto p {
	display: block;
    width: 195px;
    left: 61px;
    position: absolute;
    top: 59px;
    color: #fff;
    font-size: 27px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
}

.moto >p3 {
    display: block;
    width: 195px;
    left: 60px;
    position: absolute;
    top: 192px;
    text-transform: uppercase;
    font-size: 12px;
    color: #fff;
}

.featured-product>h1 {
	text-transform: uppercase;
    font-size: 21px;
    text-align: center;
    padding-top: 44px;
	
}


.products {
	/*grid-template-columns: repeat(3, 1fr);*/
	grid-template-rows: 50px auto 50px;
	//grid-row-gap: 37px;
}